@use "../../styles/global" as *;

* {
    margin: 0;
    padding: 0;
}

#bg-natal-solidario {
    padding: 1.5em 0;
    background: #DB0000;
    color: white;

    #content-natal-solidario {
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0 25em;
        
        #titulo {
            width: 60em;
        }

        div {
            margin: 1em 0;
        }

        iframe {
            width: 40em;
            height: 25em;
            border-radius: 30px;
            border: #F68300;
        }
    }
    
    h1 {
        color: rgb(255, 255, 255);
        font-size: 4em;
        font-weight: 500;
        margin: 0.5em 0;
    }

    p {
        margin: 0.4em 0;
        font-size: 1.5em;
        font-weight: 400;
        text-align: justify;
    }

    #natal-cards {
            display: none;
    }

    @media (max-width: 768px) {
        #content-natal-solidario {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-items: center;
            text-align: center;
            margin: 0 5em;
            
            #titulo {
                width: 22em;
            }

            div {
                margin: 1em 0;
            }

            iframe {
                width: 40em;
                height: 25em;
                border-radius: 30px;
                border: #F68300;
            }
        }
        
        h1 {
            color: rgb(255, 255, 255);
            font-size: 4em;
            font-weight: 500;
            margin: 0.5em 0;
        }

        p {
            margin: 0.4em 0;
            font-size: 1.2em;
            font-weight: 400;
            text-align: justify;
        }

        #natal-cards {
            display: none;
        }

        #video-natal-solidario {
            display: block;
            iframe {
                width: 22em;
                height: 15em;
                border-radius: 20px;
                border: #F68300;
            }
        }

        
    }
}