@use "./styles/global" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(90, 90, 90);
}

main {
  margin-top: 8.4em;
}

@media (max-width: 768px) {
  main {
    margin-top: 4.2em;
  }
}