@use "../../styles/global" as *;

* {
    margin: 0;
    padding: 0;
}

#bg-vigilhao {
    padding: 3em 0;
    background: linear-gradient(to bottom, #F0C000, #F68300 , #DB0000); /* amarelo → vermelho */
    color: white;

    #content-vigilhao {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 40em 40em;
        gap: 7em;
        align-items: center;
        text-align: center;
        margin-left: 20em;

        div {
            margin: 2em 0;
            
        }

        p {
            margin: 0.5em 0;
        }
    }

    p {
        margin: 0.4em 0;
        font-size: 1.5em;
        font-weight: 400;
        text-align: justify;
    }

    @media (max-width: 768px) {
        
        padding: 2em;
        
        #content-vigilhao {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: 0;
            gap: 0;

            div {
                margin: 0;
                
            }

            p {
                margin: 0.5em 1em;
            }
        }

        #titulo-vigilhao{
            width: 22em;
            margin: 1em 0;
        }

        p {
            margin: 0.4em 0;
            font-size: 1.2em;
            font-weight: 400;
            text-align: center;
        }

        #img-resumo-vigilhao {
            text-align: center;
            width: 20em;
            height: 24em;
        }
    }
}

